@using Pagen.Models.Identity
@model IEnumerable<Pagen.Models.Identity.Student>

@{
    ViewBag.Title = "AllStudents";
    Layout = "~/Views/Decanat/Decanat_Layout.cshtml";
}

<h2>Студенты</h2>

<p>
    @Html.ActionLink("Зачислить студента", "CreateStudent")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patronymic)
        </th>
        <th></th>
    </tr>

    @foreach (Student item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.ActionLink("Изменить", "EditStudent", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "DeleteStudent", new { id = item.Id })
            </td>
        </tr>
    }

</table>